[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
.vs/
.vscode/
MemoryCaptures/
Recordings/
Assets/EmaceArt/PolyVania/Sky/vignaioli_night_8k.hdr
Assets/Proxy Games/Stylized Nature Kit Lite/Misc/HDRI.hdr
Assets/SportCar/Textures/Floor.tga